@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(231, 231, 231);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fa-quote {
    font-size: 3rem;
}

.fa-quote-right {
    position: absolute;
    top: 5rem;
    right: 3rem;
}

.fa-quote-left {
    position: absolute;
    top: 5rem;
    left: 3rem;
}

.testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgb(70, 70, 253);
    width: 50%;
    border-radius: .5rem;
    padding: 4rem 8rem;
}

@media (max-width: 768px) {
    .testimonial {
        padding: 2rem 3rem;
    }

    .fa-quote {
        display: none;
    }
}

.timer {
    background-color: #ffffff;
    height: .4rem;
    width: 100%;
    margin-bottom: 1rem;
    /* animation: grow 5s linear infinite; */
    animation-name: grow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: left;
}

.testimonial__text {
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.testimonial__author {
    display: flex;
    align-items: center;
}

.testimonial__author > img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.identity > span {
    display: block;
}

.name {
    margin-bottom: 1rem;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(100%);
    }
}