@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, rgb(180, 218, 248) 20%, steelblue 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    background-color: #fff;
    width: 50rem;
    /* padding: 6rem; */
    border-radius: 1rem;
    font-size: 1.6rem;
}

.choices {
    padding: 4rem;
}

.choices > h2 {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
}

ul {
    list-style: none;
}

.choices input[type="radio"] {
    /* display: block; */
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: purple;
    color: white;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem;
    border: none;
    text-align: center;
    cursor: pointer;
}
