@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-slide h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: -3rem;
}

.right-slide {
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    left: 35%;
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: white;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.5rem;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .actions-buttons button {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 100;
}

.slider-container .actions-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .actions-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}