@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: steelblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mobile {
    background-color: #fff;
    width: 25vw;
    height: 80vh;
    border-radius: 1rem;
    padding: .5rem;
}

.mobile__screen {
    height: 90%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.mobile__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    height: 10%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.mobile__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: color .3s;
}

.mobile__options i {
    font-size: 1.6rem;
    margin-bottom: .25rem;
}

.mobile__options:hover {
    color: blueviolet;
}

.mobile__options.active {
    color: blueviolet;
}

.mobile__menu div span {
    font-size: 1rem;
}

img {
    display: none;
    width: 100%;
    height: 100%;
}

img.active {
    display: block;
}
