@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(42, 42, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxes__drop {
    background-color: #fff;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

.drag {
    background-color: red;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}

@media (max-width: 80rem) {
    body {
        flex-direction: column;
    }
}