@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.magic {
    background-color: #f9ca24;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249, 202, 36, 0.5);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    position: relative;
    transition: .4s ease;
}

.boxes.big {
    width: 450px;
    height: 450px;
}

.boxes.big .box{
    transform: rotateZ(360deg);
}

.box {
    /* background-image: url(https://media2.giphy.com/media/GKpWwPclBoBNu/giphy.gif); */
    /* background-image: url(https://media4.giphy.com/media/zgduo4kWRRDVK/giphy.gif?cid=ecf05e47gvnyf95p2kc4wibs1yqmc8toes525cf8l9svi6kl&rid=giphy.gif&ct=g); */
    background-image: url(https://media0.giphy.com/media/USV0ym3bVWQJJmNu3N/200w.webp?cid=ecf05e47gvnyf95p2kc4wibs1yqmc8toes525cf8l9svi6kl&rid=200w.webp&ct=g);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    position: relative;
    width: 100px;
    height: 100px;
    transition: .4s ease;
}

.box::after {
    content: "";
    background-color: #f9ca24;
    position: absolute;
    top: 2.5px;
    right: -7px;
    height: 100%;
    width: 7px;
    transform: skewY(45deg);
}

.box::before {
    content: "";
    background-color: #f9ca24;
    position: absolute;
    bottom: -7px;
    left: 4px;
    height: 7px;
    width: 100%;
    transform: skewX(45deg);
}